* {
	font-family: 'Open Sans';
}

html {
	min-height: 100%;
}

body {
	min-height: 100%;
}

.side-image img{
	position: absolute;
	top: 40%;
	left: 60%;
	transform: translateY(-50%);

}

.info {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 55%;
	left: 0%;
	margin: 0 4em;
	transform: translateY(-50%);
	overflow-x: hidden;
	display: block;
	font-weight: bold;
	color: #37698C;
	height: 500px;
}


.header {
	
}

.header-text{
	font-size: 7.5vw;

}

.header-text img {
	margin-right: 0.1em;
	float: left;
	width: 9.8vw;
	height: 9.8vw;
}

.subheader {
	margin-top: 1em;
	font-size: 1.7vw;
}

.submission {
	position: absolute;
	margin-left: 3em;
	top: 55%;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	text-align: center;
	height: 15%;
	background-color: transparent;
	padding: 1%;
}

.submission button {
	padding: 1em 2em;
	color: #37698C;
	background-color: rgba(255,255,255, 0);
	border: 1px solid #37698C;
	border-radius: 20px;
	cursor: pointer;
	margin: 0.25em 0;
	margin-right: 0.55em;
}

.submission button:hover {
	background-color: #37698C;
	color: white;
	border: 1px solid  #37698C;
}



